<!doctype html>
<html lang="en" xmlns=http://www.w3.org/1999/xhtml>
    <head>
        <title>FlightSystem - Unauthorized (401)</title>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/errors/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <lottie-player id="lottie-401" autoplay background="transparent" loop speed="1" src="/lottie/thinking.json"></lottie-player>
            <h4>Unauthorized: Access is denied due to invalid credentials.</h4>
            <h6>You do not have permission to view this directory or page using the credentials that you supplied.</h6>
            <div class="btn-group"><a href="/login" class="btn btn-light"> Return to login </a></div>
        </div>
        <script src="/js/lottieplayer.js"></script>
    </body>
</html>
