<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FlightSystem - Page not found - 404</title>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/errors/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <lottie-player id="lottie-404" autoplay background="transparent" loop speed="1" src="/lottie/404.json"></lottie-player>
            <p>Page wasn't found. Sorry about that.</p>
            <div class="btn-group"><a href="/home" class="btn btn-light"> Go to homepage </a></div>
        </div>
        <script src="/js/lottieplayer.js"></script>
    </body>
</html>