<!DOCTYPE html>
<html lang="en">

<head>
    <title>FlightSystem - Invalid Login</title>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/login-error.css" rel="stylesheet" type="text/css" /> </head>

<body>
    <div class=invalid-login-container id=login-alert>
        <lottie-player autoplay background=transparent loop speed=1 src=/lottie/thinking.json id="invalid-login-lottie" mode="normal"> </lottie-player>
        <p>Sorry, invalid credentials.</p>
        <div class=btn-group><a href="/login" class="btn btn-light" id=button-tryagain>Try Again</a></div>
    </div>
    <script src="/js/lottieplayer.js"></script>
</body>

</html>