<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FlightSystem - Account created successfuly</title>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/register-success.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <lottie-player id="lottie-success" autoplay background="transparent" speed="0.85" src="/lottie/register_success.json"></lottie-player>
            <p>Your account has been created successfully!</p>
            <p>Please login to continue.</p>
            <div class="btn-group"><a href="/login" class="btn btn-light">Back to login</a></div>
        </div>
        <script src="/js/lottieplayer.js"></script>
    </body>
</html>